/*================BASE STYLES ===============*/

header h1 {
  background: #660066;
  color: white;
  font-family: 'Akronim', serif;
  margin-top: 0;
  padding: .65em 0;
  text-align: center;
}

main h2 {
  font-family: 'Gugi', serif;
  text-align: center;
}

main p {
  color: grey;
  font-family: 'Poppins', serif;
  font-size: 1.1em;
  padding-bottom: 1.3em;
  text-align: center;
}

hr {
  padding: 2px;
  border-top: 5px solid black;
  border-bottom: 1.5px solid black;
}

/*===========FORM==========*/

/*form,
body {
  max-width: 300px;
}*/

form {
  margin-top: 1.5em;
}

legend {
  font-family: 'Gugi', serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1em;
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  background: #18174A;
  background-color: #bcf2e4;
  font-family: 'Poppins', serif;
  font-size: 18px;
  line-height: 2;
  margin: 12px 0 12px 0;
  width: 100%;
}

select {
  height: 38px;
  padding: 1px 0;
}

::placeholder  {
  font-size: 16px;
  padding-right: 8px;
  text-align: right;
}

#zip {
  width: 50%;
}

.zipL {
  display:block;
}

fieldset {
  border: none;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

#html {
  margin-top: 15px;
}

label {
  font-size: 16px;
  font-family: 'Poppins', serif;
}

.news input,
.news label,
.newsletter input,
.newsletter label {
  display: inline-block;
}

.check-a {
  padding-bottom: 1em;
}

.news-checka {
  margin-bottom: 1em;
}

.contact {
  border-bottom: 1.5px black solid;
  margin-bottom: 1em;
}

.news-title {
  font-size: 17px;
  margin: 10px 0;
  padding-bottom: 2px;
  width: 100%;
}

.lastly {
  display: block;
  font-size: 17px;
  padding-top: 8px;
}

.newsletter {
  margin-top: .5em;
}

.radio-a {
  padding-bottom: 1em;
  padding-top: .5em;
}

.radio-b {
  padding-bottom: 1em;
}

textarea {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  background-color: #bcf2e4;
  font-family: 'Poppins', serif;
  height: 80px;
  margin-bottom: 10px;
  transition: height 2s;
  width: 100%;
}

button {
  background-color: #2D7AB2;
  border-radius: 6px;
  color: white;
  height: 40px;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}
footer p {
  background: #660066;
  margin-bottom: 0;
  text-align: center;
  height: 30px;
  padding-top: .75em;
  font-family: 'Akronim', serif;
  font-size: 20px;
}

/*========================
      Pseudo Class
========================*/

button:hover {
  background-color: #4a96ce;
}

input[type]:focus,
select:focus,
input[type]:hover,
select:hover,
textarea:focus,
textarea:hover {
  border-color: #707BE7;
}

textarea:hover {
  height: 100px;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  border: blue;
  font-weight: bold;
}
/*================MEDIA QUERIES===============*/

@media (min-width: 768px) {

.leg-one {
  padding-top: 1.5em;
}

label {
  font-size: 18px;
}

  form {
    width: 75%;
    justify-content: space-between;
    margin: 0 auto;
  }

  .info input,
   select {
    flex-basis: 75%;
  }

  .info label,
  select + label {
    margin: auto;
    margin-left: 0;
  }


  .info,
  .info-zip {
    align-items: center;
    display: flex;
  }

  .info-zip {
    justify-content: end;
  }

  .info-zip input {
    max-width: 30%
  }

  label.zipL {
    flex-basis: 25%
  }

  textarea {
    height: 175px;
  }

/*=======
Media query pseudo classes
=====*/

textarea:hover {
  height: 200px;
}
